@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 480px;
    background: #fff;
    margin: 100px auto 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    display: flex;
    color: #002765;
    align-items: center;
    margin-bottom: 1rem;
}

.todo-app h2 img {
    width: 2.25rem;
    margin-left: 0.75rem;
}

.todo-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.9rem;
    background: transparent;
    padding: 0.6rem;
    text-transform: capitalize;
}

button {
    margin-left: -100px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff5945;
    font-size: 1rem;
    padding: 0.6rem 1.9rem;
    border-radius: 40px;
}

ul li {
    list-style: none;
    position: relative;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}

@media screen and (max-width: 380px) {
    .todo-app {
        display: none;
        /* width: 100%;
    max-width: 360px;
    margin: 100px auto 10px;
    padding: 20px 10px 20px;
    border-radius: 10px; */
    }
}

.footer {
    display: flex;
    justify-content: center;
    background: none;
    color: #bbb;
    font-size: 0.6rem;
    margin-top: 0.1rem;
    outline: none;
}

.footer a {
    color: red;
    text-decoration: none;
}