<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}" />
    <title>Todo List</title>
</head>

<body>
    <div class="container">
        <div class="todo-app">
            <h2>Todo List <img src="{{url_for('static',filename='icon/icon.png')}}"></h2>
            <div class="todo-input">
                <input type="text" id="input-box" placeholder="Enter your text">
                <button onclick="addTask()">Add</button>
            </div>
            <ul id="todo-list">
                
            </ul>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>